* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 64px 0 94px 0;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 0 42px;
}
.header-link {
  color: #33323D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-link-3 {
  color: #5FB4A2;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero {
  margin-bottom: 48px;
}
.hero-line {
  width: 1110px;
  height: 1px;
  margin-bottom: 48px;
  opacity: 0.15;
  background: #33323D;
}
.hero-title {
  color: #33323D;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}
.hero-text {
  width: 635px;
  color: #33323D;
  margin-bottom: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.8;
}

.hero-box {
  display: flex;
  justify-content: space-between;
}

.info {
  margin-bottom: 110px;
}
.info-box {
  display: flex;
  justify-content: space-between;
}
.info-line {
  width: 1110px;
  height: 1px;
  margin-bottom: 48px;
  opacity: 0.15;
  background: #33323D;
}
.info-title {
  width: 350px;
  color: #33323D;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}

.info-text {
  width: 635px;
  color: #33323D;
  margin-bottom: 8px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  opacity: 0.8;
}

.input {
  padding: 9px 0 9px 16px;
  width: 635px;
  margin-bottom: 24px;
  height: 48px;
  opacity: 0.1;
  background: #33323D;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.4;
}

.input-3 {
  padding: 9px 0 57px 16px;
  width: 635px;
  height: 96px;
  margin-bottom: 24px;
  opacity: 0.1;
  background: #33323D;
  color: #33323D;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.4;
}

.info-btn {
  padding: 17px 24px;
  color: #FFF;
  background: #203A4C;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer {
  padding: 24px 0;
  background: #33323D;
}
.footer-box {
  display: flex;
  align-items: center;
}
.footer-link {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer-list {
  display: flex;
  gap: 0 42px;
}

.footer-img {
  margin-right: 50px;
}

.footer-img-2 {
  margin-left: 590px;
}/*# sourceMappingURL=main.css.map */